.fondoCelda {
    background-color: #eeeeee !important;
    color: black;
}

.centerCelda {
    text-align: center;
}

.navBarFondo {
    background-color: #0061a9 !important;
}

.titulo {
    color: #060606;
    font-weight: bold;
    font-size: 1.2em;
}

.roundedTable {
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 6px;
}

.card-flyer:hover {
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 4px;
}

.centerImg {
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.pointer {
    cursor: pointer;
}

.superTitulo {
    color: #0061a9;
    font-size: 1.2em;
    font-style: italic;
    font-weight: bold;
    font-family: Helvetica;
    text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

.btnVerde {
    background-color: #006400;
}

.btnRojo {
    background-color: #b81414;
}
/*Creo clases para poner coger los dos botones en autocomplete*/
.btnSearchAutocomplete{
    background-color: green
}

.btnSearchLoadingAutocomplete{
    background-color: gray;
}

/**/